<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum App</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="site-header">
    <a href="/" class="nav-button">Home</a>
    <a href="/topics" class="nav-button">Topics</a>
    <a href="/categories" class="nav-button">Categories</a>
    <a href="/messages" class="nav-button">Messages</a>
    {% if user %}
<div style="margin-left: auto; display: flex; align-items: center; gap: 10px;">
    <span>Logged user: {{ user.username }}</span>
    <a href="/users/logout">Logout</a>
</div>
{% endif %}
</header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>