{% extends "base.html" %}
{% block content %}
<div class="chat-container">

    <div class="sidebar">
        <h2>Chats</h2>
        <form method="post" action="/messages/find" class="search-form">
        <input class="search-input" type="text" name="username" placeholder="Enter Username to chat">
        <button type="submit" class="search-button">Find by Username</button>
            {% if error %}
            <p class="error-message" style = "color: red;">{{ error }}</p>
            {% endif %}
        </form>
            {% for convo in conversations %}
                    <div class="user-entry {% if convo.id == receiver_id %}active{% endif %}" data-userid="{{ convo.id }}">
                        {{ convo.username }}
         </div>
        {% endfor %}
            <div>
</div>
        {% if receiver_id %}
        <div>
            <a href="/messages/" class="search-button">Back</a>
        </div>
        {% endif %}
    </div>


    <div class="chat-panel">
        <div class="chat-messages" id="messages">
        {% if messages %}
            {% for msg in messages %}
                <div class="msg {{ 'right' if msg.sender_id == user_id else 'left' }}">
                    {{ msg.text }}
                    <div class="time">{{ msg.created_at }}</div>
                </div>
            {% endfor %}
            {% else %}
            <p class="no-msg">Start the conversation.</p>
        </div>
        {% endif %}
        {% if receiver_id %}
        <form action="/messages/create" method="post" class="chat-form">
            <input type="text" name="text" placeholder="Type a message..." required>
            <input type="hidden" name="sender_id" value="{{ user_id }}">
            <input type="hidden" name="receiver_id" value="{{ receiver_id }}">
            <input type="hidden" name="created_at" value="2025-05-11">
            <button>Send</button>
        </form>
        {% endif %}
    </div>
</div>
<script>
  document.querySelectorAll(".user-entry").forEach(user => {
    user.addEventListener("click", () => {
      const userId = user.dataset.userid;
      window.location.href = `/messages/${userId}`;
    });
  });
</script>

{% endblock %}



